
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure
/allure-results/
/allure-report/

# Custom TTA Report
/tta-report/

# Session storage
user-session.json
